@import "reset.css";
body {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen-Sans, Ubuntu, Cantarell, Helvetica Neue, sans-serif;
  color: #1B1B1E;
  background-color: #F4F7F5;
  padding-top: 2rem;
}

* {
  border-radius: 0.125rem;
}

input {
  display: block;
  width: 80%;
  margin: 0 auto;
  font-size: 1.5rem;
  padding: 0.5rem;
}

p {
  padding: 1rem;
  font-size: 1.5rem;
  text-align: center;
}

form {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-align-items: center;
  align-items: center;
  width: 20rem;
  padding: 1rem;
  margin: 0 auto;
  border: 1px solid #ccc;
}

form input {
  font-size: 1.25rem;
  width: 80%;
  margin-bottom: 1rem;
}

form button {
  display: block;
  padding: 0.5rem 1rem;
  text-transform: uppercase;
  color: #F4F7F5;
  background-color: #2374AB;
}

form button:hover {
  background-color: #E07A5F;
}
