@import "reset.css";

body {
  font-family: Roboto, Arial, sans-serif;
  color: #1B1B1E;
}

#container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  width: 1200px;
  margin: 0 auto;
  padding: 0.5rem;
  /*border: 1px solid #ccc;*/
}

.article {
  border: 1px solid #ccc;
  display: flex;
  flex-direction: column;
  width: 48%;
  padding: 0.5rem;
  margin-bottom: 1rem;
}

.article-title {
  font-size: 1.5rem;
  line-height: 2;
}

.article-text {
  font-size: 1rem;
  line-height: 1.3;
}

.article-link {
  margin-top: 1rem;
  align-self: flex-end;
  font-size: 0.825rem;
  line-height: 1;
  text-transform: uppercase;
  text-decoration: none;
}

.article-info {
  border: 1px solid #ccc;
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
  padding: 0.25rem;
}

.article-type, .article-date {
  font-size: 0.875rem;
}


/* $menu */

.menu {
  width: 100%;
  padding: 5px;
}

.title {
  margin-bottom: 20px;
  font-size: 24px;
  text-align: center;
}

.list {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  justify-content: center;
}

.list-item {
  border: 1px solid #333;
  padding: 5px 10px;
  margin-right: 10px;
  text-transform: uppercase;
}


/* $link */

.link {
  display: inline-block;
  padding: 10px;
  border: 1px solid #ccc;
}

.link-active {
  background-color: orange;
}
